body
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: black;
	background-color: white
}

a:link {color: #000077;	text-decoration: underline}
a:hover {color: #037fc5;	text-decoration: underline}
a:visited {color: #000088;	text-decoration: underline}

li {list-style-type: diamond;	position: relative;	left: -15px;	clip: rect(   )}

.header { font-weight: bold; font-size: 12pt; }
.comment { font-size: 8pt; color: #aaa}
.MainHeader {  font-weight: bold; color: white; background-color: #037fc5; font-size: 10pt}
.NewsDate {  color: #ccccff; font-weight: bold}
.MainContent { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt }

pre {
	background-color: #eeeeff;
	color: black;
	padding: 5px;
	border: 1px dashed #037fc5;
}

td {  font-size: 10pt}
th {  font-size: 10pt}
dt { color: #037fc5; font-weight: bold;}

.TableRow { font-weight: bold; font-size: 12pt; color: #000055; background-color: #eeeeff;}
.TableRow2 { font-weight: bold; font-size: 12pt; color: #000055; background-color: #ccccee;}
