Package: kbe
Version: 0.2.1
Section: science
Priority: optional
Architecture: amd64
Installed-Size: 1980
Depends: libc6 (>= 2.3), libgcc1 (>= 1:4.1.1), libqt4-svg (>= 4:4.5.3), libqt4-xml (>= 4:4.5.3), libqt4-xmlpatterns (>= 4:4.5.3), libqtcore4 (>= 4:4.7.0~beta1), libqtgui4 (>= 4:4.7.0~beta1)
Maintainer: Nikita Grishko <grin.minsk@gmail.com>
Homepage: https://github.com/deniskoronchik/kbe
Description: Knowledge Base source Editor
